//Настройки для линтера

//парсер для того чтобы бабел мог взаимодействовать с линтером
//установили свод правил линтера в предепс от airbnb (наиболее популярный свод правил)
//предепс означает некие неободимые но не напрямую дев зависимости, 
//extends:airbnb мы говорим нашей конфигурации использовать правила airbnb
{
    "parser": "@babel/eslint-parser"
    //"extends": ["airbnb"]
}